---
import Layout from "../layouts/Layout.astro";
---

<Layout title="galaxy - pogger button">
	<main id="main">
		<div style="text-align: center; width: 100%;">
			<button onclick="alert('pogger')">pogger button</button>
			<p>
				<a href="https://save418.com/">
					"It's a reminder that the underlying processes of computers
					are still made by humans," Brunswick said.
				</a>
			</p>
		</div>
	</main>
</Layout>
