---

---

<div id="verify-warning">
	<a href="/signedup">You need to verify your email address to do anything!</a
	>
</div>

<style>
	#verify-warning {
		background: var(--background-red-1);
		height: 45px;
		line-height: 45px;
		text-align: center;
	}
</style>
